:root{
  --text-size:clamp(1.2rem,4vw, 1.6rem)
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,  *::before, *::after {margin:0; padding:0; box-sizing: inherit}


body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../public/images/bg_720.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-text-fill-color: rgb(15, 14, 14);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(249, 128, 128, 0.715);

}



h1 {
  font-size: clamp(2.8rem,4vw,3.2px);
  text-align: center;
  margin-bottom: 20px;
  color: rgba(22, 22, 167, 0.847)
}

li {
  font-size: var(--text-size);
}

.done {
  text-decoration: line-through;
  background-color: rgba(10, 10, 10, 0.303);

}

li.ant-list-item.done {
  text-decoration: line-through;
  color: rgb(74, 73, 73)

}

main {
  width: 89%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 3%;
  background-color: rgba(243, 236, 236, 0.532);
  padding: 15px;
  border-radius: 23px;
  border: 5px, solid rgba(18, 17, 17, 0.833);
  filter: drop-shadow(0px 0px 30px rgb(249, 245, 245))
}

button.ant-btn{
  background-color: rgba(196, 213, 250, 0.524) ;
  
}

span.ant-input-affix-wrapper,
input.ant-input {
  background-color: rgba(196, 213, 250, 0.524);
  font-size: var(--text-size);
}